* {
  font-family: Helvetica, sans-serif !important;
}



body {
  background: #000000 url(http://github.com/3lectrologos/Assembla/raw/master/earth.jpeg) no-repeat;
  background-attachment: fixed;
  background-position: -200px 0px;
}

pre {
  background: #3F3F3F;
  color: #DCDCCC;
  border: none;
}

div#content {
  margin: 3em !important;
  min-height: 300px;
}

fieldset {
  opacity: 0.9;
  background: #F6F6F6;
  padding: 3em;
  margin-bottom: 3em;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright:15px;
  -moz-border-radius-bottomleft:15px;
  -moz-border-radius-bottomright:15px;
  -webkit-border-top-left-radius:15px;
  -webkit-border-top-right-radius:15px;
  -webkit-border-bottom-left-radius:15px;
  -webkit-border-bottom-right-radius:15px;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
}

/* Header */

#header-w {
  /* background: #5A9ECF; */
  background: #5A9ECF url(http://github.com/3lectrologos/Assembla/raw/master/header_grad.png) repeat-x left top;
  border-bottom: 5px solid #006699;
  font: normal 12px/1.5em "Helvetica Neue","Lucida Grande","Helvetica Neue",Arial,sans-serif;
  /* border-top: none;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright:0px;
  -moz-border-radius-bottomleft:20px;
  -moz-border-radius-bottomright:20px;
  -webkit-border-top-left-radius:0px;
  -webkit-border-top-right-radius:0px;
  -webkit-border-bottom-left-radius:20px;
  -webkit-border-bottom-right-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:20px;
  border-bottom-right-radius:20px; */
}

#header-w span {
  color: #FFFFFF;
}

h1.header-w {
  margin-left: 1em;
  font-size: 180%;
}

#header a:link, #header a:visited {
  color: #FFFFFF;
}
#header a:hover, #header a:active {
  border-bottom: none;
  text-decoration: none;
}

#header {
  margin-bottom: 0;
}

#logo img {
  display: none;
}

#header-links a {
  color: #FFFFFF;
}

#show-help {
  background: none;
  color: #FFFFFF;
}

#help-panel {
  border: none;
}

h1 span#space-role {
  margin-top: 1.5em;
  margin-right: 0.5em;
}

/* Main menu */
#main-menu-w {
  padding: 0px;
  padding-top: 15px;
  margin-left: 36px;
  margin-right: 36px;
  margin-top: 0;
  background: #006699 url(http://github.com/3lectrologos/Assembla/raw/master/menu_shadow.png) repeat-x;
  border: 0px solid #FFFFFF;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright:0px;
  -moz-border-radius-bottomleft:15px;
  -moz-border-radius-bottomright:15px;
  -webkit-border-top-left-radius:0px;
  -webkit-border-top-right-radius:0px;
  -webkit-border-bottom-left-radius:15px;
  -webkit-border-bottom-right-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
}

ul#main-menu {
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 0px;
  height: 47px;
}

ul#main-menu li {
  margin: 0em;
}

ul#main-menu a {
  background: #006699;
  color: #FFFEFB;
  /* background:-moz-radial-gradient(50% 40% 235deg, #00334D, #006699 50%); */
}

ul#main-menu .current a:link, ul#main-menu .current a:visited, ul#main-menu .current a:hover, ul#main-menu .current a:active {
  /* background: #5A9ECF; */
  background:-moz-radial-gradient(50% 40% 235deg, #eeeeee, #006699 50%);
}

ul#main-menu li a:link, ul#main-menu li a:visited {
  /* background:-moz-radial-gradient(50% 40% 235deg, #00334D, #006699 50%); */
  margin: 0px;
  height: 37px;
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
}

ul#main-menu li a:hover, ul#main-menu li a:active {
  /* background: #0077BB; */
  background:-moz-radial-gradient(50% 40% 235deg, #eeeeee, #006699 50%);
  color: #FFFEFB;
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
}

/* Sub-menu */

ul.menu-submenu {
  margin: 0;
  margin-left: 6em;
  margin-right: 6em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  padding-left: 0em;
  padding-right: 0em;
  height: 19px;
  list-style: none;
  background: #e5e5e5 url(http://github.com/3lectrologos/Assembla/raw/master/submenu_shadow.png) repeat-x left top;
  font-family: Arial, Helvetica, sans-serif;
  float: left;
  width: auto;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright:0px;
  -moz-border-radius-bottomleft:15px;
  -moz-border-radius-bottomright:15px;
  -webkit-border-top-left-radius:0px;
  -webkit-border-top-right-radius:0px;
  -webkit-border-bottom-left-radius:15px;
  -webkit-border-bottom-right-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
}
ul.menu-submenu li {
  float: left
}
ul.menu-submenu li a {
  display:block;
  height: 20px;
  /* line-height: 15px; */
  float: left;
  padding: 0 11px;
  border: none;
  border-left: 1px solid #e6e6e6;
  font-size: 12px;
  font-weight: bold;
}

ul.menu-submenu li .selected {
  background: url(/images/arrow-selected.gif) no-repeat center 21px;
  text-decoration: none
}

ul.menu-submenu li .first {
  margin-left: 0;
  border-left: none;
}

/* Stream table */
div.main-col {
  opacity: 0.9;
  background: #FFFFFF;
  padding: 1em;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright:15px;
  -moz-border-radius-bottomleft:15px;
  -moz-border-radius-bottomright:15px;
  -webkit-border-top-left-radius:15px;
  -webkit-border-top-right-radius:15px;
  -webkit-border-bottom-left-radius:15px;
  -webkit-border-bottom-right-radius:15px;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
}

/* Ticket list table */
tr, th, td {
  background: #FFFFFF;
}

/* Update panel (e.g. update alert settings) */
.panel-info {
  opacity: 0.9;
  background: #BFDDF2 url(/images/ico-info.gif) .75em .75em no-repeat;
  padding: .75em;
  padding-left: 30px;
  margin-bottom: 1.5em;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright:15px;
  -moz-border-radius-bottomleft:15px;
  -moz-border-radius-bottomright:15px;
  -webkit-border-top-left-radius:15px;
  -webkit-border-top-right-radius:15px;
  -webkit-border-bottom-left-radius:15px;
  -webkit-border-bottom-right-radius:15px;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
}

/* XXX: Completely remove summary-wrap-red in admin page */
.summary-wrap-red {
  display: none;
}

/* XXX: Completely remove video links to tutorials */
div.video-link {
  display: none;
}

/* Admin summary wrap */
.summary-wrap {
  opacity: 0.9;
  margin-top: 2em;
  margin-bottom: 2em;
  border: 1px solid #000000;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright:15px;
  -moz-border-radius-bottomleft:15px;
  -moz-border-radius-bottomright:15px;
  -webkit-border-top-left-radius:15px;
  -webkit-border-top-right-radius:15px;
  -webkit-border-bottom-left-radius:15px;
  -webkit-border-bottom-right-radius:15px;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
}

/* Footer */
#footer-w {
  margin-top: 3em;
  /* background: #BBBBBB; */
  background: url(http://github.com/3lectrologos/Assembla/raw/master/footer_grad.png) repeat-x left top;
  /* border-top: 2px dotted #666666; */
}

#footer {
  border: none;
  color: #666666;
}

#footer a:link, #footer a:visited {
  color: #333333;
}

.addthis_toolbox {
  margin-top: 1em;
}

/* Boxes */
.big-url-panel + h2.blue-box-title, .project-dashboard h2.blue-box-title {
  opacity: 0.9;
  font-size: 110%;
  background: #5A9ECF;
  margin-top: 2em;
  /* border: 1px solid #000000; */
  border-bottom: none;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright:15px;
  -moz-border-radius-bottomleft:0px;
  -moz-border-radius-bottomright:0px;
  -webkit-border-top-left-radius:15px;
  -webkit-border-top-right-radius:15px;
  -webkit-border-bottom-left-radius:0px;
  -webkit-border-bottom-right-radius:0px;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
}

.big-url-panel + h2.blue-box-title + div.blue-box, .project-dashboard .blue-box {
  opacity: 0.9;
  background: #F9F9F9;
  margin-bottom: 2em;
  border: 0px solid #000000;
  border-top: none;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright:0px;
  -moz-border-radius-bottomleft:15px;
  -moz-border-radius-bottomright:15px;
  -webkit-border-top-left-radius:0px;
  -webkit-border-top-right-radius:0px;
  -webkit-border-bottom-left-radius:15px;
  -webkit-border-bottom-right-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
}

div.box {
  opacity: 0.9;
  background: #F6F6F6;
  margin-top: 2em;
  margin-bottom: 2em;
  border: 1px solid #000000;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright:15px;
  -moz-border-radius-bottomleft:15px;
  -moz-border-radius-bottomright:15px;
  -webkit-border-top-left-radius:15px;
  -webkit-border-top-right-radius:15px;
  -webkit-border-bottom-left-radius:15px;
  -webkit-border-bottom-right-radius:15px;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
}

.new-form .sub-panel {
  opacity: 0.9;
  background: #F6F6F6;
  padding: 0;
  margin-bottom: 3em;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright:15px;
  -moz-border-radius-bottomleft:15px;
  -moz-border-radius-bottomright:15px;
  -webkit-border-top-left-radius:15px;
  -webkit-border-top-right-radius:15px;
  -webkit-border-bottom-left-radius:15px;
  -webkit-border-bottom-right-radius:15px;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
}

.new-form .sub-panel fieldset {
  padding-top: 0;
  padding-bottom: 0;
}

.new-form h2 {
  opacity: 0.9;
  background: #F6F6F6;
  margin: 0;
  padding-top: 2.5em;
  padding-left: 2.5em;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright:15px;
  -webkit-border-top-left-radius:15px;
  -webkit-border-top-right-radius:15px;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
}

input + fieldset {
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright:0px;
  -webkit-border-top-left-radius:0px;
  -webkit-border-top-right-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
}

.new-form fieldset h2 {
  padding-top: 0;
  padding-left: 0;
  margin-bottom: 2em;
}

.new-form .sub-panel h4 {
  margin: 2.5em;
}

/* Url panel */
#content > h1.big-url-panel {
  opacity: 0.9;
  background-color: #5A9ECF;
  font-size: 1.2em;
  padding: 10px;
  margin-bottom: .75em;
  border: 1px solid #000000;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright:15px;
  -moz-border-radius-bottomleft:15px;
  -moz-border-radius-bottomright:15px;
  -webkit-border-top-left-radius:15px;
  -webkit-border-top-right-radius:15px;
  -webkit-border-bottom-left-radius:15px;
  -webkit-border-bottom-right-radius:15px;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
}

.big-url-panel a {
  color: #FFFFFF;
}

.alert-settings {
  opacity: 0.9;
  border: none;
  -moz-border-radius-topleft: 7px;
  -moz-border-radius-topright:7px;
  -moz-border-radius-bottomleft:7px;
  -moz-border-radius-bottomright:7px;
  -webkit-border-top-left-radius:7px;
  -webkit-border-top-right-radius:7px;
  -webkit-border-bottom-left-radius:7px;
  -webkit-border-bottom-right-radius:7px;
  border-top-left-radius:7px;
  border-top-right-radius:7px;
  border-bottom-left-radius:7px;
  border-bottom-right-radius:7px;
}

.alert-settings fieldset {
  background: none;
}

div.msidebar {
  opacity: 0.9;
}

.text-highlight {
  background-color: #BBD1DC;
}

.tip, .new_tip {
  border-left: 3px solid #58EB3B;
}

/* Admin -> Tools */
.tools-title {
  opacity: 0.9;
  background: #F6F6F6;
  padding: 1.5em;
  margin-bottom: 2em;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright:15px;
  -moz-border-radius-bottomleft:15px;
  -moz-border-radius-bottomright:15px;
  -webkit-border-top-left-radius:15px;
  -webkit-border-top-right-radius:15px;
  -webkit-border-bottom-left-radius:15px;
  -webkit-border-bottom-right-radius:15px;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
}

.tools-admin-content h2.blue-box-title {
  opacity: 0.9;
  font-size: 110%;
  background: #5A9ECF;
  margin-top: 2em;
  border-bottom: none;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright:15px;
  -moz-border-radius-bottomleft:0px;
  -moz-border-radius-bottomright:0px;
  -webkit-border-top-left-radius:15px;
  -webkit-border-top-right-radius:15px;
  -webkit-border-bottom-left-radius:0px;
  -webkit-border-bottom-right-radius:0px;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
}

.tools-admin-content .listed-tool {
  opacity: 0.9;
  background: #F6F6F6;
  padding: 2em;
}

.tools-admin-content h2 {
  color: #F6F6F6;
}

/* Dashboard */
div.recent-activity {
  opacity: 0.9;
  background: #F6F6F6;
  padding: 3em;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright:15px;
  -moz-border-radius-bottomleft:15px;
  -moz-border-radius-bottomright:15px;
  -webkit-border-top-left-radius:15px;
  -webkit-border-top-right-radius:15px;
  -webkit-border-bottom-left-radius:15px;
  -webkit-border-bottom-right-radius:15px;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
}

div.flexible-left-col div.project-milestones-box {
  margin-top: 3em;
  margin-bottom: 3em;
}

.compact-milestone {
  opacity: 0.9;
  background: #F6F6F6;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright:15px;
  -moz-border-radius-bottomleft:15px;
  -moz-border-radius-bottomright:15px;
  -webkit-border-top-left-radius:0px;
  -webkit-border-top-right-radius:15px;
  -webkit-border-bottom-left-radius:15px;
  -webkit-border-bottom-right-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:15px;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
}

#mielstones-tabs a {
  opacity: 0.9;
  background: #F6F6F6;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright:15px;
  -webkit-border-top-left-radius:15px;
  -webkit-border-top-right-radius:15px;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
}

div.flexible-left-col div.project-description {
  opacity: 0.9;
  background: #F6F6F6;
  margin-top: 1em;
  margin-bottom: 3em;
  padding: 2em;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright:15px;
  -moz-border-radius-bottomleft:15px;
  -moz-border-radius-bottomright:15px;
  -webkit-border-top-left-radius:15px;
  -webkit-border-top-right-radius:15px;
  -webkit-border-bottom-left-radius:15px;
  -webkit-border-bottom-right-radius:15px;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
}

.project-owners .blue-box div.members-watchers {
  background: #BFDDF2;
}

/* Milestones */
.milestones .milestone-wrap {
  opacity: 0.9;
  background: #F6F6F6;
  width: auto;
  padding: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright:15px;
  -moz-border-radius-bottomleft:15px;
  -moz-border-radius-bottomright:15px;
  -webkit-border-top-left-radius:15px;
  -webkit-border-top-right-radius:15px;
  -webkit-border-bottom-left-radius:15px;
  -webkit-border-bottom-right-radius:15px;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
}

.milestones .top-bar-wrap {
  opacity: 0.9;
  background: #F6F6F6;
  position: relative;
  height: 57px;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright:15px;
  -moz-border-radius-bottomleft:15px;
  -moz-border-radius-bottomright:15px;
  -webkit-border-top-left-radius:15px;
  -webkit-border-top-right-radius:15px;
  -webkit-border-bottom-left-radius:15px;
  -webkit-border-bottom-right-radius:15px;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
}

.milestones .top-bar-wrap .float-left {
  position: absolute;
  left: 2em;
  top: 15px;
}

.milestones .top-bar-wrap .float-right {
  position: absolute;
  right: 2em;
  top: 15px;
}

.milestones .mnormal {
  -moz-border-radius-topleft: 7px;
  -moz-border-radius-topright:7px;
  -moz-border-radius-bottomleft:7px;
  -moz-border-radius-bottomright:7px;
  -webkit-border-top-left-radius:7px;
  -webkit-border-top-right-radius:7px;
  -webkit-border-bottom-left-radius:7px;
  -webkit-border-bottom-right-radius:7px;
  border-top-left-radius:7px;
  border-top-right-radius:7px;
  border-bottom-left-radius:7px;
  border-bottom-right-radius:7px;
}

/* Milestones -> Calendar */
div#metrics-calendar {
  opacity: 0.9;
  background: #F6F6F6;
  padding: 2em;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright:15px;
  -moz-border-radius-bottomleft:15px;
  -moz-border-radius-bottomright:15px;
  -webkit-border-top-left-radius:15px;
  -webkit-border-top-right-radius:15px;
  -webkit-border-bottom-left-radius:15px;
  -webkit-border-bottom-right-radius:15px;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
}

/* Milestones -> Import/Export */
div#tool_page {
  opacity: 0.9;
  background: #FFFFFF;
  padding: 2em;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright:15px;
  -moz-border-radius-bottomleft:15px;
  -moz-border-radius-bottomright:15px;
  -webkit-border-top-left-radius:15px;
  -webkit-border-top-right-radius:15px;
  -webkit-border-bottom-left-radius:15px;
  -webkit-border-bottom-right-radius:15px;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
}

/* Text area like this */
textarea#space_style {
  font-size: 11px;
  font-family: "Courier New";
  height: 500px;
}


/* Tickets */
div.ttop-bar {
  opacity: 0.9;
  background: #F6F6F6;
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  margin-bottom: 2em;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright:15px;
  -moz-border-radius-bottomleft:15px;
  -moz-border-radius-bottomright:15px;
  -webkit-border-top-left-radius:15px;
  -webkit-border-top-right-radius:15px;
  -webkit-border-bottom-left-radius:15px;
  -webkit-border-bottom-right-radius:15px;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
}

.ttop-bar + div {
  opacity: 0.9;
  background: #F6F6F6;
  padding: 2em;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright:15px;
  -moz-border-radius-bottomleft:15px;
  -moz-border-radius-bottomright:15px;
  -webkit-border-top-left-radius:15px;
  -webkit-border-top-right-radius:15px;
  -webkit-border-bottom-left-radius:15px;
  -webkit-border-bottom-right-radius:15px;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
}

.ttop-bar + div div {
  margin: 0 !important;
}

.ttop-bar + div div h1 {
  margin-bottom: 1em;
}

#ticket_list tr td {
  border-color: #AAAAAA !important;
}

#ticket_list tr th {
  border: 1px solid #AAAAAA !important;
  background: #EEEEEE !important;
}

/* Ticket table headers */
#ticket_list .title-division h3 {
  border: 1px solid #aaaaaa !important;
  border-bottom: 0px !important;
  background: #EEEEEE !important;
}

/* Ticket table row colors by priority */
.tickets tr.color1-odd  td { background: #EBA2A2; }
.tickets tr.color1-even td{ background: #EBA2A2; }
.tickets tr.color2-odd td { background: #EBD9A2; }
.tickets tr.color2-even td{ background: #EBD9A2; }
.tickets tr.color3-odd td { background: #C1E6C1; }
.tickets tr.color3-even td{ background: #C1E6C1; }
.tickets tr.color4-odd  td { background:  #C8DAE8; }
.tickets tr.color4-even td{ background: #C8DAE8; }
.tickets tr.color5-odd  td{ background: #E8E8E8; }
.tickets tr.color5-even td{ background: #E8E8E8;  }
.tickets tr.color6-odd td { }
.tickets tr.color6-even td { }

/* Ticket details */
div#main em {
  background: none;
}

/* New ticket */
#ticket {
  opacity: 0.9;
  background: #F6F6F6;
  padding: 2em;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright:15px;
  -moz-border-radius-bottomleft:15px;
  -moz-border-radius-bottomright:15px;
  -webkit-border-top-left-radius:15px;
  -webkit-border-top-right-radius:15px;
  -webkit-border-bottom-left-radius:15px;
  -webkit-border-bottom-right-radius:15px;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
}

/* XXX: deleted */
#ticket_edit_form .nbutton fieldset {
  display: none;
}

/* Tickets -> Filter */
div#content > div > div > h1 {
  display: block;
  background: #F6F6F6;
  opacity: 0.9;
  width: auto;
  padding: 1.5em;
  margin-bottom: 0;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright:15px;
  -moz-border-radius-bottomleft:0px;
  -moz-border-radius-bottomright:0px;
  -webkit-border-top-left-radius:15px;
  -webkit-border-top-right-radius:15px;
  -webkit-border-bottom-left-radius:0px;
  -webkit-border-bottom-right-radius:0px;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
}

div#content > div > div > h1 + div {
  background: #F6F6F6 !important;
  margin-top: 0 !important;
  opacity: 0.9;
  width: auto;
  padding: 2em !important;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright:0px;
  -moz-border-radius-bottomleft:15px;
  -moz-border-radius-bottomright:15px;
  -webkit-border-top-left-radius:0px;
  -webkit-border-top-right-radius:0px;
  -webkit-border-bottom-left-radius:15px;
  -webkit-border-bottom-right-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
}

/* Tickets -> Search */
#content > .content {
  background: #F6F6F6;
  opacity: 0.9;
  padding: 2em;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright:15px;
  -moz-border-radius-bottomleft:15px;
  -moz-border-radius-bottomright:15px;
  -webkit-border-top-left-radius:15px;
  -webkit-border-top-right-radius:15px;
  -webkit-border-bottom-left-radius:15px;
  -webkit-border-bottom-right-radius:15px;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
}

/* Tickets -> Burndown */
div.cut + div > h2 {
  display: block;
  background: #F6F6F6;
  opacity: 0.9;
  width: auto;
  padding: 1.5em;
  margin-bottom: 0;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright:15px;
  -moz-border-radius-bottomleft:0px;
  -moz-border-radius-bottomright:0px;
  -webkit-border-top-left-radius:15px;
  -webkit-border-top-right-radius:15px;
  -webkit-border-bottom-left-radius:0px;
  -webkit-border-bottom-right-radius:0px;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
}

#content > div > div#chart.jqplot-target {
  background: #F6F6F6;
  opacity: 0.9;
  width: auto !important;
  margin-top: 0 !important;
  margin-left: 0 !important;
  margin-bottom: 0;
  padding: 2em !important;
}


div#chart + table#details {
  background: #F6F6F6;
  opacity: 0.9;
  padding: 2em !important;
  margin-top: 0 !important;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright:0px;
  -moz-border-radius-bottomleft:15px;
  -moz-border-radius-bottomright:15px;
  -webkit-border-top-left-radius:0px;
  -webkit-border-top-right-radius:0px;
  -webkit-border-bottom-left-radius:15px;
  -webkit-border-bottom-right-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
}

div.burndown-controls {
  background: #F6F6F6;
  opacity: 0.9;
  padding: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
  height: 5em;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright:15px;
  -moz-border-radius-bottomleft:15px;
  -moz-border-radius-bottomright:15px;
  -webkit-border-top-left-radius:15px;
  -webkit-border-top-right-radius:15px;
  -webkit-border-bottom-left-radius:15px;
  -webkit-border-bottom-right-radius:15px;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
}

/* Tickets -> Agile planner */
#agile_planner_page fieldset {
  background: none;
  padding: 0;
  margin-bottom: 0;
}

#agile_planner_page .planner-top-bar {
  opacity: 0.9;
  background: #F6F6F6;
  padding: 1em;
  margin-bottom: 2em;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright:15px;
  -moz-border-radius-bottomleft:15px;
  -moz-border-radius-bottomright:15px;
  -webkit-border-top-left-radius:15px;
  -webkit-border-top-right-radius:15px;
  -webkit-border-bottom-left-radius:15px;
  -webkit-border-bottom-right-radius:15px;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
}

#agile_planner_page .planner-boxes {
  background: #F6F6F6;
  opacity: 0.9;
  margin-bottom: 3em;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright:15px;
  -moz-border-radius-bottomleft:15px;
  -moz-border-radius-bottomright:15px;
  -webkit-border-top-left-radius:15px;
  -webkit-border-top-right-radius:15px;
  -webkit-border-bottom-left-radius:15px;
  -webkit-border-bottom-right-radius:15px;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
}

/* Dangling h1 - div inside content */
#content > h1 {
  display: block;
  background: #F6F6F6;
  opacity: 0.9;
  width: auto;
  padding: 1.5em;
  margin-bottom: 0;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright:15px;
  -moz-border-radius-bottomleft:0px;
  -moz-border-radius-bottomright:0px;
  -webkit-border-top-left-radius:15px;
  -webkit-border-top-right-radius:15px;
  -webkit-border-bottom-left-radius:0px;
  -webkit-border-bottom-right-radius:0px;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
}

#content > h1 + div {
  background: #F6F6F6;
  opacity: 0.9;
  padding: 2em;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright:0px;
  -moz-border-radius-bottomleft:15px;
  -moz-border-radius-bottomright:15px;
  -webkit-border-top-left-radius:0px;
  -webkit-border-top-right-radius:0px;
  -webkit-border-bottom-left-radius:15px;
  -webkit-border-bottom-right-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
}

#content > h1 + form {
  background: #F6F6F6;
  opacity: 0.9;
  padding: 2em;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright:0px;
  -moz-border-radius-bottomleft:15px;
  -moz-border-radius-bottomright:15px;
  -webkit-border-top-left-radius:0px;
  -webkit-border-top-right-radius:0px;
  -webkit-border-bottom-left-radius:15px;
  -webkit-border-bottom-right-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
}

/* Team */
#team-page .green-box {
  background: #F6F6F6;
  opacity: 0.9;
  padding: 2em;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright:15px;
  -moz-border-radius-bottomleft:15px;
  -moz-border-radius-bottomright:15px;
  -webkit-border-top-left-radius:15px;
  -webkit-border-top-right-radius:15px;
  -webkit-border-bottom-left-radius:15px;
  -webkit-border-bottom-right-radius:15px;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
}

#team-page .green-box-title {
  background: #F6F6F6;
  opacity: 0.9;
  padding: 2em;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright:15px;
  -moz-border-radius-bottomleft:0px;
  -moz-border-radius-bottomright:0px;
  -webkit-border-top-left-radius:15px;
  -webkit-border-top-right-radius:15px;
  -webkit-border-bottom-left-radius:0px;
  -webkit-border-bottom-right-radius:0px;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
}

#team-page .green-box-title + .green-box {
  background: #F6F6F6;
  opacity: 0.9;
  padding: 2em;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright:0px;
  -moz-border-radius-bottomleft:15px;
  -moz-border-radius-bottomright:15px;
  -webkit-border-top-left-radius:0px;
  -webkit-border-top-right-radius:0px;
  -webkit-border-bottom-left-radius:15px;
  -webkit-border-bottom-right-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
}

/* Wiki */
div.wiki-tool-wrap {
  background: #F6F6F6;
  opacity: 0.9;
  padding: 2em;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright:15px;
  -moz-border-radius-bottomleft:15px;
  -moz-border-radius-bottomright:15px;
  -webkit-border-top-left-radius:15px;
  -webkit-border-top-right-radius:15px;
  -webkit-border-bottom-left-radius:15px;
  -webkit-border-bottom-right-radius:15px;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
}
